 /* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    font-family: sans-serif;
    text-align: center;
  }
  main {
    position: relative;
  }
  
  #container {
    margin-top: 48px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px 16px;
    align-items: center;
  }
  
  #container img {
    width: 100%;
    max-height: 300px;
  }
  
  .card {
    border: 1px solid #d1d1d1;
    padding: 10px;
  }

 